body {
	background: black;
	font-family: Lobster;
	padding: 5px;
}

* {
	min-height: 10px;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 350px;
	margin: auto;
	border-radius: 15px;
}

.postcard-header {
	display: flex;
	padding: 15px;
}
.postcard-header h1 {
	width: 350px;
	margin: 0px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 15px;
	width: 50%;

	vertical-align: center;
}

.body-left p:first-child {
	margin-top: 0x;
}
input,
textarea {
	border: none;
	border-bottom: 1px grey solid !important;
	font-family: Lobster;
	height: 35px;
}
input:active,
input:focus {
	border-bottom-color: 1px solid lightgrey !important;
	outline: none;
}
input:required:invalid {
	border-bottom: 1px #c00000 solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: lightgrey;
	padding: 5px;
	font-family: lobster;
	border-color: white;
	border-radius: 5px;
}
button:hover {
	background-color: grey;
	color: lightgrey;
}
